
spring:
  application:
    name: gateway-service
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: user-service
          uri: lb://user-service
          predicates:
            - Path=/iamhusrev/dev/user/**
          filters:
            - RewritePath=/iamhusrev/dev/user/(?<segment>.*),/$\{segment}
        - id: project-service
          uri: lb://project-service
          predicates:
            - Path=/iamhusrev/dev/project/**
          filters:
            - RewritePath=/iamhusrev/dev/project/(?<segment>.*),/$\{segment}
        - id: task-service
          uri: lb://task-service
          predicates:
            - Path=/iamhusrev/dev/task/**
          filters:
            - RewritePath=/iamhusrev/dev/task/(?<segment>.*),/$\{segment}

server:
  port: 8762
context-path: http://localhost:${server.port}/actuator


eureka:
  instance:
    status-page-url-path: ${context-path}/info
    health-check-url-path: ${context-path}/health
  client:
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka/


info:
  application:
    name: ${spring.application.name}
    description: Ticketing Application
    version: '@project.version@'
    spring-cloud-version: '@spring-cloud.version@'
    spring-boot-version: '@project.parent.version@'


management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: "*"

  endpoint:
    health:
      show-details: ALWAYS

  health:
    db:
      enabled: true
    diskspace:
      enabled: true
    ping:
      enabled: true
