spring:
  application:
    name: user-service
  profiles:
    active: default

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:postgresql://database:5432/ticketing-app
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  sql:
    init:
      mode:
server:
  port: 9094

eureka:
  client:
    service-url:
      defaultZone: http://discovery-service:8761/eureka
    register-with-eureka: true
    fetch-registry: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,env,beans,loggers
        # Açık olan actuator endpoint'leri

  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
        # Kubernetes readiness/liveness için

    info:
      enabled: true

    metrics:
      enabled: true

    env:
      enabled: true
      show-values: when-authorized
      # Env değerlerini sadece auth varsa göster

    loggers:
      enabled: true
      # Runtime log level değiştirme

  health:
    db:
      enabled: true
    diskspace:
      enabled: true
    ping:
      enabled: true
