spring:
  application:
    name: task-service

  datasource:
    url: jdbc:postgresql://database:5432/ticketing-app
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: 9092

context-path: http://localhost:${server.port}/actuator

eureka:
  instance:
    status-page-url-path: ${context-path}/info
    health-check-url-path: ${context-path}/health
  client:
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka/


info:
  application:
    name: ${spring.application.name}
    version: ${app.version}
    group: ${project.groupId}
    artifact: ${project.artifactId}
    description: Ticketing Microservice
    java:
      version: ${java.version}
    spring:
      boot: 3.2.5
      cloud: 2023.0.1



management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: "*"

  endpoint:
    health:
      show-details: ALWAYS

  health:
    db:
      enabled: true
    diskspace:
      enabled: true
    ping:
      enabled: true



