spring:
  application:
    name: project-service
  profiles:
    active: default
  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    url: jdbc:postgresql://host.docker.internal:5435/ticketing-app
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
server:
  port: 9091


eureka:
  instance:
    # 1. Eureka UI'da görünecek isim ve tıklanacak adres için localhost zorla
    hostname: localhost
    prefer-ip-address: false # Localhost kullanacağımız için bunu false yapıyoruz

    # 2. Her instance'ın benzersiz olması için ID formatını belirle
    instance-id: ${spring.application.name}:${server.port}

    # 3. Tıklanacak linklerin doğru oluşması için path'leri ver
    status-page-url-path: /actuator/info
    health-check-url-path: /actuator/health

  client:
    serviceUrl:
      defaultZone: http://discovery-service:8761/eureka/


management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: "ALWAYS"
  info:
    env:
      enabled: true
    build:
      enabled: true

info:
  application:
    name: ${spring.application.name}
    description: Ticketing Application
    version: '@project.version@'
    spring-cloud-version: '@spring-cloud.version@'
    spring-boot-version: '@project.parent.version@'
